# ESP-IDF build directory
build/

# Project-specific configuration overrides
# It is generally recommended to keep 'sdkconfig' out of version control
# if you use 'sdkconfig.defaults' for shared settings.
sdkconfig
sdkconfig.old

# ESP-IDF Component Manager
managed_components/
dependencies.lock

# Editor and IDE settings
.vscode/
.idea/
.clangd/
*.swp
*.swo

# Python and Test artifacts
__pycache__/
.pytest_cache/
pytest_embedded_log/
